<!DOCTYPE html>
<html>
	<head>
		<title>zFramework</title>
		<meta charset=utf-8>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="styles/main.css">
		<style>
			@import url('https://fonts.googleapis.com/css?family=Saira');
			@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
		</style>
	</head>
	<body>
		<div id="controlWrapper">
			<h1 class="bigHeading">zFramework</h1>
			<h2 id="controlHeading" class="smallerHeading" onmouseenter="control.Heading.addClass('cursorOn')" onmouseleave="control.Heading.removeClass('cursorOn')">Simple, Uncluttered, No Bull Javascript For Getting Things Done</h2>
			<div id="controlText">
				<h3 class="clickableHeading" onclick="control.Intro.showHide()">About zFramework ↴</h3>
				<div id="controlIntro" style="display:none;">
					<p>ZFramework is an idea that grew out of a conversation between Nate McNeil and Danny Maland, back when they both worked for BlueDoor Software (Nate's company.) Nate began an initial, much more ambitious version, and Danny eventually ended up returning to a much more "cut down" interpretation of the idea.</p>

					<p>ZFramework exists as an antidote to overweight, overwrought Javascript frameworks that insist on making simple tasks complicated...and complicated tasks nearly impenetrable. Angered by Angular? Riled by React? Vexed by Vue? Try this.</p>

					<p>First, let's be fair. The big frameworks do things that zFramework just doesn't do, especially in the realm of template strings and custom "directives." You're not going to be putting something like {{variableName}} into your HTML and having that value auto-bind to a variable in your Javascript. You're not going to give a document element an attribute like zShow="variable", and have the element automatically hide when the variable evaluates as false. Those ARE handy behaviors, and if you really have to have them, zFramework isn't a good choice.</p>

					<p>Let's also be honest, though. Other frameworks impose an enormous amount of overhead, both in code and training, in order to accomplish those things. When it takes a giant tutorial just to get started, when getting one little form built requires a complicated directory structure, when just getting things to display requires a "compilation" step...well, that's when Javascript has gone too far. Other frameworks abstract, rewrap, redefine, obfuscate, and even interfere with basic functionality and features that already work just fine - those features are just a bit inconvenient at times. The main point of zFramework is to increase the convenience of common DOM manipulation and data presentation tasks, while stil keeping all the basic mechanics from Javascript and standard DOM manipulation both intact and accessible.</p>

				</div>
				<h3 class="clickableHeading" onclick="control.MainIdeas.showHide()">zFramework's Main Ideas ↴</h3>
				<ul id="controlMainIdeas" style="display:none;">
					<li id="controlIdea"><span id="IdeaTitle"></span>: <span id="IdeaBody"></span></li>
				</ul>
				<h3 class="clickableHeading" onclick="control.Documentation.showHide()">Documentation ↴</h3>
				<div id="controlDocumentation" style="display:none;">

					<p>This page and its supporting scripts are examples of the major features in ZFramework. A very good way to get a handle on how to use zFrame instances is to look at the HTML source for this page, along with <code>control.js</code>, and <code>zFrameCore.js</code>.</p>

					<p>To get started, you need <code>zFrameCore.js</code> and <code>jsUtilities.js</code>, which should be bundled together if you got zFramework from an official source. Remember to load <code>jsUtilities.js</code> first, because <code>zFrameCore.js</code> requires <code>jsUtilities.js</code> in order to work. (ZFramework will try to remind you if you forget.)</p>

					<p>ZFramework is very strongly driven by the id attributes on HTML elements. When a script instantiates a new zFrame instance, zFramework looks for id attributes that contain the string supplied to <code>new zFrame(string)</code>. If a match is found, the element id is split using the aforementioned string, and the string at index 1 in that array is used as the name of the object added to the new zFrame.</p>

					<p>For example, <code>control.js</code> instantiates a new zFrame with <code>new zFrame('control')</code>. The constructor encounters a div element with <code>id="controlWrapper"</code>. The id attribute contains a match, and so the new zFrame instance gets that div element added to it as an object, accessible as <code>control.Wrapper</code>. An easy way to see all the objects added to <code>control</code> is to get into a Javascript console and simply invoke the <code>control</code> object. <code>Control.js</code> also sets <code>zFrameDebug</code> to <code>true</code>, which shows what's going on as the constructor runs.</p>

					<h4>About stateObject and syncState()</h4>

					<p>The <code>stateObject</code> found within a zFrame is a way to quickly make common updates when <code>syncState()</code> is called. If you take a look at a <code>stateObject</code> after a zFrame is instantiated, you'll see that the object keys are the same as the zFrame's keys. Set a <code>stateObject</code> key to a value other than null, and <code>syncState()</code> will set the innerHTML or value attributes of the matching zFrame element to that value. (Form elements have the value attribute set, where all others have the innerHTML attribute set.) You don't have to use this workflow at all if you dislike it, and you can also use it partially. Just leave the null values alone on anything you want to stay untouched.</p>

					<p>It's important to note that <code>stateObject</code> only works on "top-level" zFrame elements that you can access with code like <code>instanceName.element</code>. Elements requiring access through a top-level object will still require manual updates.</p>

					<p>Of course, you can always assign <code>stateObject</code> to something that's easier to type, just as you see in the code for this page: <code>controlState = control.stateObject</code></p>
					
					<h4>Basic Functions</h4>

					<p>HTML objects added through the <code>new ZFrame(string)</code> constructor automatically get some basic functions added to them: <code>showHide()</code>, a simple toggling of a <code>display: none</code> inline style, and the <code>addClass(string)</code> / <code>removeClass(string)</code> functions. (If you look at the source for this template, you'll see that <code>controlHeading</code> has inline mouseenter and mouseleave event listeners that make use of <code>addClass</code> and <code>removeClass</code>. When you mouse over the heading, the background color becomes blue.) The <code>addClass</code> and <code>removeClass</code> functions do exactly what you might think: The object implementing the functions has the supplied string either appended to or deleted from its class name.</p>

					<p>Of course, HTML elements aren't restricted to referencing themselves. The clickable headings you see invoke <code>showHide()</code> on other elements, which allows the headings to stay visible while their related content is displayed or suppressed.</p>

					<h4>Automatic Attachment Of Oninput/ Onchange Events</h4>

					<p>Now, let's look at a form input that might be an email. As you type, a validation function is run.</p>
					<div style="padding:10px; border:2px solid white">
						<input id="controlField" style="vertical-align: middle;"><label id="controlIsEmail" style="margin-left: 10px; font-size: 14px;"></label>
					</div>

					<p>This validation could be attached entirely by hand, but ZFramework provides a handy timesaver. Each zFrame instance has a function <code>attachUpdateEventsToInputs(function)</code>, which looks for objects that are part of the calling zFrame instance which are also input elements. The specified function is then set to be called when oninput or onchange events fire. For example, <code>control.js</code> contains this code:<br><br><code>control.validateInputs = function validate (event) {<br>  
						&nbsp if (u.emailSeemsValid(event.target.value)) {<br>
							&nbsp &nbsp controlState.IsEmail = "This looks like a real email address.";<br>
							&nbsp } else {<br>
								&nbsp &nbsp controlState.IsEmail = "This doesn't seem to be a real email address.";<br>
						}<br>
					  <br>
					  &nbsp control.syncState()<br>
					  <br>
					  };</code></p>

  				<p>Later on, you see this: <code>control.attachUpdateEventsToInputs(control.validateInputs);</code>. The result is that <code>control.Field</code> (the only input that's part of <code>control</code>) gets <code>control.validateInputs</code> attached to its oninput and onchange events.</p>

  				<h4>Template Repetition</h4>

  				<p>Another very handy feature is <code>repeatTemplate(element, iterable, callback)</code>, which is available on each zFrame instance. The element is what you want to repeat for each item in the iterable (an array, for instance). As the iterable is traversed, the template is cloned, along with all of its contained children, once for each iteration. (For ease of access, the children are made accessible to the parent element as contained objects - for example, parent.childID1) Also at each iteration, the callback function is run. The callback's parameters are the current copy of the template, the iteration index, and the iterable's value at that index. A common use for all of this is to access a template copy's child, and then write a value to that child's inner HTML.</p>

  				<p>For example, the "Main Ideas" section is driven by <code>repeatTemplate</code>. <code>Control.ideaData</code> is an array of objects, each having a title and a body. This HTML file has a ul tag with a single li tag (<code>id="controlIdea"</code>) within it: The li tag is the template, which has two span tags as children. The following code is invoked in <code>control.js</code>:<br><br><code>
  				control.repeatTemplate(control.Idea, control.ideaData, function(element, index, idea) {<br>
  				&emsp;element.IdeaTitle.innerHTML = idea.title;<br>
  				&emsp;element.IdeaBody.innerHTML = idea.body;<br>
  				&emsp;control.addElementsToThisZFrame(element);<br>
					});
  				</code>

  				<p>This results in multiple copies of the template being generated, with all the templates and children receiving incremented suffixes to their id attributes. At each iteration, data from the current <code>idea</code> object is used to create the inner HTML for the IdeaTitle and IdeaBody elements. Each template element is then added to the <code>control</code> zFrame, in case easy access is needed later.</p>

  				<h4>An XHR Helper</h4>

  				<p>ZFramework creates a global function, zRequest, that's designed to make XHR operations a bit more streamlined. ZRequest is called like this: <code>zRequest(method, url, contentType, otherHeaders, payload, useCredentials, callBack, progressCallback)</code>.

  					<ul>
  						<li>Method is the HTTP verb to use, in string form.</li>
  						<li>URL is where you want the request to be sent to.</li>
  						<li>ContentType is a string to use as the value for the Content-Type header.</li>
  						<li>OtherHeaders is an array of objects with <code>name</code> and <code>value</code> fields, which you can use to set arbitrary headers on your request.</li>
  						<li>Payload is a request body to send to the server. It is sent exactly as passed in, so you are responsible for converting your request to a format that the server will handle.</li>
  						<li>UseCredentials is a boolean used to set <code>xhr.withCredentials</code> when necessary.</li>
  						<li>Callback is a function called when the request completes, with the xhr object as its single parameter.</li>
							<li>ProgressCallback is a function called by the <code>xhr.upload.onprogress</code> event. The function is called with a single parameter, the event object. This is especially useful for driving progress bars on uploads, as the event name suggests.</li>
  					</ul>
  				</p>

  				<p>You can use this button to fire an XHR request to numbersapi.com.</p>

  				<p style="font-size:0.5em;"><button id="controlAPIButton">Get an interesting factoid about today, courtesy of Numbers API: </button> <span id="controlFactoid"></span></p>

  				<h4>An Alternative Alert</h4>

  				<p>ZFramework also supplies you with an alternative to the builtin browser alert, called a zAlert. ZAlert is a self-formatting element that has a few functions:

  					<ul>
  						<li>Calling <code>zAlert.initialize(boolean)</code> is necessary to begin using zAlert. Passing <code>false</code> to the function turns off nearly all of zAlert's predefined styling, allowing you to drive it manually through CSS or Javascript. Be aware, though, that this may cause zAlert to misbehave a bit until you get your custom styling in place.</li>
  						<li>The <code>zAlert.format()</code> function makes the zAlert box try to fit the browser window comfortably. You should call this function whenever the screen is resized, along with any other handlers related to screen size changes that you may have. This isn't done automatically because it would be very easy for the function to be quietly overridden.</li>
  						<li>Calling <code>zAlert.show(string, string, string)</code> will display the zAlert with the first string as the header, the second string as the src attribute for an icon image, and the third string as the body text. For example: <code>zAlert.show("NumbersAPI zRequest Succeeded", "./images/successIcon.png", code);</code> This function cannot be called unless the zAlert believes that you have called <code>zAlert.initialize(boolean)</code> first.</li>
  						<li>The <code>zAlert.hide()</code> function gets the zAlert out of the way. It also cannot normally be called unless the initialization function has been called first.</li>
  					</ul>

						<p>ZAlerts have an <code>onhide</code> function (with no predefined body) that you can override. <code>ZAlert.onhide</code> is automatically called in the body of <code>zAlert.hide</code>.</p>

  				</p>

				</div>

			</div>

		</div>

		<!-- Script Loading -->
		<script src="scripts/jsUtilities.js"></script>
		<script src="scripts/zFrameCore.js"></script>
		<script src="scripts/control.js"></script>
	</body>
</html>
