body {
	margin: 0px;
    padding: 0px;
	font-family: 'Saira', sans-serif;
    background-color: black;
    color: white;
}

p {
    font-family: 'Noto Serif', serif;
}

.cursorOn {
    background-color: darkblue;
}

#controlWrapper {
    width: 80%;
    margin: 0px auto;
    overflow: hidden;
}

.bigHeading {
    font-size: 4em;
    text-align: center;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    animation-duration: 0.5s;
    animation-name: fadeIn;
}

.smallerHeading {
    width: 90%;
    font-size: 3em;
    text-align: center;
    margin: 5px auto;
    padding: 5px;
    box-shadow: 0px 0px 10px white;
    animation-duration: 1s;
    animation-name: fadeIn;
    display: block;
}

.clickableHeading {
    cursor: pointer;
    border-bottom: 1px dashed white;
}

#controlText {
    width: 75%;
    font-size: 1.5em;
    text-align: left;
    margin: 10px 0px;
    animation-duration: 1.5s;
    animation-name: fadeIn;
}

li {
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    font-family: 'Noto Serif', serif;
}

h4 {
    border-bottom: 2px solid;
    border-top: 1px solid;
    color: orangered;
}

code {
    background: linear-gradient(to right, #1b1b1b, #0e0e0e);
    padding: 5px;
    border: 1px solid #353535;
}

@media (max-width: 768px) {
    .bigHeading {
        font-size: 3em;
    }

    .smallerHeading {
        font-size: 2em;
    }

    #controlText {
        font-size: 1em;
    }
}

@keyframes fadeIn {

    0% {
        opacity: 0; 
    }

    50% {
        opacity: 0; 
    }

    100% {
        opacity: 1;
    }

}
